* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0 0 10vh 0;
  line-height: 1.5em;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 1.3em;
}

h2 {
  text-decoration: underline;
  -webkit-text-decoration-style: solid;
  text-decoration-style: solid;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: blue;
}

header,
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header {
  min-height: 80vh;
  height: 0px;
}

p,
blockquote {
  margin: 1em 0 0 0;
  max-width: 780px;
}

q,
blockquote {
  font-style: italic;
  font-family: Georgia, serif;
}

.content {
  max-width: 780px;
  margin: 0 auto;
  padding: 5vh 1em;
}

.content.centered {
  text-align: center;
}

.button {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: white;
  background: blue;
  text-decoration: none;
  font-weight: bold;
}

.button:hover {
  background: black;
  color: white;
}

.clients {
  list-style: none;
  margin: 0 auto 10vh auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 980px;
}

.clients li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 75%;
  padding-right: 1em;
}

.clients li > div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.clients img {
  margin-right: 3em;
}

.clients li:nth-child(2n) {
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding-right: 0;
  padding-left: 1em;
}

.clients li:nth-child(2n) img {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin-right: 0;
  margin-left: 3em;
}

.work {
  list-style: none;
  margin: 0 auto 10vh auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 960px;
}

.work li {
  display: block;
  width: 33.33%;
  text-align: center;
  padding: 0 1em 3em 1em;
}

h5 {
  color: #565656;
  font-weight: 500;
}

.services {
  margin: 0 auto 10vh auto;
  width: 960px;
  display: flex;
  align-items: center;
}

.services ul {
  list-style: none;
  padding: 0;
  flex: 2;
}

.services li + li {
  padding-top: 1.5em;
}

.contact {
  padding: 1em 0 2em 0;
}

.quote h5 {
  padding-top: 0.5em;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 10vh 0 5vh 0;
  list-style: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.links li {
  padding: 0 2em;
  font-weight: 700;
}

@media print {
  body {
    font-size: 14px;
  }
  .hide-print {
    display: none !important;
  }
}

.available {
  width: 360px;
  height: 200px;
  position: absolute;
  top: -50px;
  left: -140px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: black;
  color: white;
  font-weight: bold;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.available:hover {
  color: white;
  background: blue;
}

.available p {
  padding: 1em;
}

img {
  max-width: 100%;
}

@media (max-width: 1000px) {
  .available {
    display: none;
  }

  .clients {
    width: 100%;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .clients img {
    width: 120px;
    margin: 0 1em;
  }

  .clients li {
    width: 100%;
  }

  .clients li + li {
    margin-top: 1em;
  }

  .clients li:nth-child(2n) {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding-right: 1em;
    padding-left: 0em;
  }

  .clients li:nth-child(2n) img {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    margin: 0 1em;
  }

  .work {
    width: 100%;
  }

  .work li {
    width: 50%;
    padding: 0 0.5em 2em 0.5em;
  }

  .services {
    padding: 0 1em;
    width: 100%;
    flex-direction: column;
  }

  .services ul {
    margin-bottom: 4em;
  }

  .links li {
    padding: 0 1em;
  }
}
